body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 29px;
    color: rgb(96, 92, 141);
    padding: 0px;
    margin: 0px;
    background: rgb(248, 247, 247);
}

.sidebar-img{ 
    margin-top: 0px;
    margin-bottom: 15px;
    margin-right: 0px;
    width: auto;
    position: relative;
    padding: 15px 15px 15px 20px;
    transition: all 0.6s ease-in-out 0s;
}

.sidebar {
    position: fixed;
    z-index: 1000;
    top:0px;
    width: 260px;
    height: 100%;
    box-shadow: rgba(76, 128, 178, 0.1) 8px 0px 24px 0px;
    background-color:#192841;
    transition: all 0.6s ease-in-out 0s
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    font-size: 16px;
    color:  rgb(190, 190, 207);
    padding: 15px 30px;
    transition: all 500ms ease 0s;
    cursor: pointer;
    background-image: url('icon.png'); /* Replace 'icon.png' with your image path */
    background-size: 20px; /* Adjust the size of the background image */
    background-repeat: no-repeat;
    background-position: left center; /* Adjust the position of the background image */
    padding-left: 40px; /* Ensure enough space for the background image */
}

.sidebar li:hover {
    background-color: #0d2e50; /* Very light blue background on hover */
}



.admin-info {
    display: flex;
    font-size: 16px;
    color: rgb(190, 190, 207);
    padding: 15px 30px;
    transition: all 500ms ease 0s;
    background-image: url('icon.png'); /* Replace 'icon.png' with your image path */
    background-size: 20px; /* Adjust the size of the background image */
    background-repeat: no-repeat;
    background-position: left center; /* Adjust the position of the background image */
    padding-left: 40px; /* Ensure enough space for the background image */
}

/* Dropdown button */
.admin-navbar-info {
    position: relative;
    display: inline-block;
}

/* Dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    top: 50px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown when hovering over the button */
.admin-navbar-info:hover .dropdown-content {
    display: block;
}


.dropdown-message {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    right: 50%;
    top: 50px;
}

/* Links inside the dropdown */
.dropdown-message div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-message div:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown when hovering over the button */
.admin-navbar-info:hover .dropdown-message {
    display: block;
}




.text-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.sidebar-information-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
}



.View-Click-options {
    margin-left: 20px; 
    display: none;
    align-items: center;
    padding: 15px 30px;
}
.View-Arrow-Element{
    margin-left: 30px;
}

.Submission-Arrow-Element{
    margin-left: 30px;
}

.Submissions-Click-options{
    margin-left: 20px; 
    display: none;
    align-items: center;
    padding: 15px 30px;
}

.Lists-Arrow-Element{
    margin-left: 30px;
}

.Lists-Click-options{
    margin-left: 20px; 
    display: none;
    align-items: center;
    padding: 15px 30px;
}

.Requests-Click-options{
    margin-left: 20px; 
    display: none;
    align-items: center;
    padding: 15px 30px;
}

.Requests-Arrow-Element{
    margin-left: 30px;
}








.sidebar-Admin-text {
    margin-bottom: 5px; /* Adjust as needed */
    margin-left: 5px;
}

.admin-icon {
    /* Adjust size and color of the icon */
    font-size: 60px;
    color:rgb(190, 190, 207); /* Change color as needed */
}

.sidebar-Online-text {
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Align items vertically */
}

.online-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    margin-left: 5px; /* Adjust spacing between circle and text */
}


.sidebar-Online-text span {
    margin-left: 5px; /* Adjust left margin as needed */
    margin-top: 5px; /* Adjust top margin as needed */
}








.content {
    margin-left: 260px;
    padding: 20px;
    text-align: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

h5 {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    margin: 0px;
    line-height: 1.5;
    color: #140F49;
    font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.625rem;
    font-weight: 500;
    line-height: 1.2;
}

.navbar {
    position: fixed;
    top: 0;
    color: black;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid white; /* Add border */
    height: 50px; /* Set height to 50px or any desired value */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background: rgb(248, 247, 247);



}




.navbar-icons {
    display: flex;
    align-items: center;
    height: 100%; /* Set height to 100% */
}




.navbar-icons i {
    margin-right: 15px;
    font-size: 1em; /* Increased font size for icons */
}

.navbar-logo-image{
    margin-left: 270px;
    display: flex;

}

.admin-navbar-info:hover {
    background-color: #f1f1f1; /* Change color on hover */
}

.admin-navbar-info div {
    margin-right: 10px; /* Adjust margin as needed */
}

.admin-navbar-info i {
    font-size: 1.5em; /* Adjust icon size as needed */
}


.admin-navbar-info {
    display: flex;
    align-items: center;
    transition: color 0.3s ease; /* Add transition */
    cursor: pointer;
    height: 100%; 
    position: relative;

}



.admin-navbar-info div {
    margin-right: 10px; /* Adjust margin as needed */
}

.admin-navbar-info i {
    font-size: 1.5em; /* Adjust icon size as needed */
}


.sidebar img {
    width: 100%; /* Adjust the width as needed */
    max-width: 180px; /* Set a maximum width if necessary */
    height: auto; /* Maintain aspect ratio */
}

.navbar-right img {
    width: auto; /* Allow the width to adjust based on the image size */
    height: 50px; /* Set the desired height */
    margin-top: 10px;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 15px 30px;
}

.image-container {
    flex: 0 0 auto;
}

.image-container img {
    width: 50px; /* Adjust image width as needed */
    height: auto; /* Maintain aspect ratio */
}






    .white-rectangle {
        width: 5px; /* Adjust width as needed */
        height: 20px; /* Adjust height as needed */
        background-color: white;
        border: 1px solid black; /* Optional border */
    }

    .arrow {
        margin-left: 50px;
      }
    
    /* Change color of dropdown links on hover */
    
    
   
    


 
