.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px; /* Adjust the size of the circle */
  height: 100px; /* Adjust the size of the circle */
  border-radius: 50%; /* This makes the container circular */
  background-color: #f0f0f0; /* Background color of the circle */
}

.icon-container .fas {
  font-size: 36px; /* Adjust the font size of the icon */
  color: #223557;
}

.main {
  margin-left: 35%; /* Keep the margin */
  margin-top: 100px; /* Add margin-top to position it */
  border: 2px solid #ccc; /* Add border with 2px width and gray color */
  padding: 20px; /* Add padding inside the border */
  width: 40%;
}

.text {
  font-size: 25px; /* Make the font size bigger */
  font-weight: bold; /* Make the text bold */
  color: black;
  margin-left: 5px;
  margin-top: 30px;
}

.description {
  font-size: 18px;
  text-align: left;
  line-height: 1.5;
  width: 100%;
  margin-top: 30px;
  margin-left: 5px;
  color: black;
}

.input-group {
  margin-top: 50px;
  width: 300px; /* Adjust the width of the input fields */
}

.input-group input {
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  margin-left: 6px;
  width: 500px;
  height: 25px;
}
.input-group div {
  font-size: 17px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
  margin-left: 5px;
}

.input-group input {
  padding: 10px 35px 10px 30px; /* Adjust the padding as needed */
  font-family: "Font Awesome\ 5 Free"; /* Set font family to Font Awesome */
  font-size: 16px;
}

.input-group input::placeholder {
  font-family: "Font Awesome\ 5 Free"; /* Set font family for placeholder */
  font-style: normal; /* Ensure the placeholder is not italic */
}

.input-group i {
  position: absolute;
  top: 66.5%;
  right: 33%; /* Adjust the position of the eye icon */
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 25px;
}

.main button {
  padding: 10px 25px; /* Adjust padding as needed */
  background-color: #0056b3; /* Button background color */
  color: white; /* Button text color */
  margin-top: 60px;
  width: 570px;
  margin-left: 6px;
  border: none; /* Remove button border */
  border-radius: 8px; /* Add border radius for rounded corners */
  cursor: pointer; /* Add cursor pointer */
  transition: background-color 0.3s; /* Add transition for smooth hover effect */
  height: 50px;
  font-size: large;
}

.main button:hover {
  background-color: #00448d; /* Change background color on hover */
}

.message {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  margin: 200px auto 50px; /* Adjusted margin-top to 200px */
  padding: 20px;
  border: 2px solid #4caf50; /* Green border */
  border-radius: 10px;
}

.icon {
  font-size: 64px; /* Increased size */
  color: #4caf50; /* Green color */
  margin-bottom: 20px;
}

.text {
  text-align: center;
}

h2 {
  color: #333;
}

p {
  color: gray;
  margin-bottom: 10px;
}

/* Button styles */
.login-button {
  padding: 10px 20px;
  background-color: #0056b3; /* Green background color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 250px;
  height: 40px;
  font-size: large;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.login-button:hover {
  background-color: #4387cf; /* Darker green on hover */
}
